div{
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    font-stretch: ultra-expanded;
    font-kerning: normal;
    text-align: center;
    text-decoration: underline;
}